:root.theme-dark {
  --main-bg-color: #000028;
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --main-title-accent-color: #FF0070;
  --section-title-color: #FF0070;
  --cards-title-bg-color: #FF0070;
  --cards-text-color: #000028;
  --decoration-color: #FF0070;
  --button-color: #FF0070;
}

.theme-dark .off-the-screen {
  color: var(--decoration-color);
}

.theme-dark .recording-effect::after {
  display: initial;
}
