:root.theme-light {
  --main-bg-color: #FFF1F7;
  --main-bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --main-title-color: #FFC2E6;
  --main-title-accent-color: #FF8DCB;
  --section-title-color: #353430;
  --cards-title-bg-color: #FF8DCB;
  --cards-text-color: #353430;
  --decoration-color: #353430;
  --button-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #FFF1F7;
    --main-bg-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --main-title-color: #FFC2E6;
    --main-title-accent-color: #FF8DCB;
    --section-title-color: #353430;
    --cards-title-bg-color: #FF8DCB;
    --cards-text-color: #353430;
    --decoration-color: #353430;
    --button-color: #353430;
  }

  .off-the-screen {
    color: transparent;
  }

  .recording-effect::after {
    display: none;
  }

}

.theme-light .off-the-screen {
  color: transparent;
}

.theme-light .recording-effect::after {
  display: none;
}
