/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-text-font), sans-serif;
  line-height: 1.3rem;
  background-image: var(--main-bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  padding-inline: 10px;
  padding-block: 10px;
  margin-inline: auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  block-size: 100vb;
  min-block-size: 668px;
}

.corner-decoration {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;;
  border-right: 1px solid var(--decoration-color);
  border-top: 1px solid var(--decoration-color);
  inset: 0 0 auto auto;
}

.corner-decoration--rotated {
  transform: rotate(0.5turn);
  inset: auto auto 0 0;
}

.recording-effect {
  text-transform: uppercase;
  color: var(--decoration-color);
  position: absolute;
  line-height: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.recording-effect::after {
  content: '';
  display: inline-block;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decoration-color);
  background-color: var(--decoration-color);
  margin-inline-end: 0.5rem;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 1rem;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--button-color);
  border: none;
  padding-inline: 13px;
  padding-block: 1.5px;
  position: relative;
}

.header__theme-menu-button_active {
  outline: solid 1px var(--button-color);
}

/* ДАЛЕЕ РЕШЕНИЕ ДЛЯ HOVER, КОТОРОЕ РАБОТАЕТ В КОНТЕКСТЕ МЕНЮ С ЧЕТЫРЬМЯ БУКАВАМИ
   СДЕЛАЛ ИМЕННО ТАК, ТАК КАК ПОДУМАЛ, ЧТО НУЖНО ИЗБЕЖАТЬ ИСАОЛЬЗОВАНИЯ АЛЬФАКАНАЛА */

.header__theme-menu-button:not(:disabled):hover::after {
  content: 'дддд';
  position: absolute;
  inset: 0 auto auto 0;
  color: transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
  outline: solid 1px var(--button-color);
  opacity: 0.4;
}

.header__title {
  font-size: var(--h1-size);
  font-weight: bold;
  line-height: var(--h1-line-height);
  color: var(--h1-color);
  text-shadow: 4px 4px var(--h1-shadow-color);
}

.header__text {
  background-color: var(--h2-colorful-bg-color);
  color: var(--h2-text-color);
  font-weight: bold;
}

.break::after {
  content: '\A';
  white-space: pre;
}

/* СОМНИТЕЛЬНОЕ РЕШЕНИЕ, КОТОРОЕ, СКОРЕЕ ВСЕГО, ПРИДЕТСЯ ПОТОМ ПЕРЕСМОТРЕТЬ */