/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-text-font), sans-serif;
  line-height: 1.4625rem;
  font-size: 18px;
  background-image: var(--main-bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  padding-inline: 10px;
  /* padding-block: 10px; */
  margin-inline: auto;
  display: grid;
}

.page > * {
  margin-block: 0 var(--gap);
}

.page > *:first-child,
.page > *:nth-last-child(2) {
  margin-block: 0 var(--gap-first-last);
}

.page > *:last-child {
  margin-block: 0 0;
}

/* ТУТ СТОЛКНУЛСЯ С ТАКОЙ ПРОБЛЕМОЙ, ЧТО ИЗ-ЗА 
   ТАКОЙ КОНСТРУКЦИИ  .PAGE>* СТРАНИЦА ОТОБРАЖАЕТСЯ
   НЕККОРЕКТНО, ЕСЛИ ЗАПУСКАТЬ ЕЕ ЧЕРЕЗ РАСШИРЕНИЕ
   ВЕБ-СЕРВЕРА В VS-CODE, ТАК КАК ОН ДОБАВЛЯЕТ 
   СКРИПТ В КОНЕЦ BODY, И В ТАКОМ СЛУЧАЕ LAST-CHILD И 
   NTH-LAST-CHILD(2) СЧИТАЮТСЯ НЕ КОРРЕКТНО*/
 
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  block-size: 100vb;
  min-block-size: 668px;
}

.corner-decoration {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;;
  border-right: 1px solid var(--decoration-color);
  border-top: 1px solid var(--decoration-color);
  inset: 10px 0 auto auto;
}

.corner-decoration--rotated {
  transform: rotate(0.5turn);
  inset: auto auto 10px 0;
}

/* КОРОЧЕ, ЗДЕСЬ ТОЖЕ КАКАЯ-ТО ШНЯГА С ОТСУПАМИ
   ПОЧЕМУ-ТО НУЖНО 20PX В ЗАПАСЕ СНИЗУ, ЧТОБЫ 
   СОШЛОСЬ С МАКЕТОМ
   ПОКА НЕ ВИЖУ, ГДЕ ПРОСЧИТАЛСЯ, МОЖЕТ, ПОТОМ УВИЖУ */

.recording-effect {
  text-transform: uppercase;
  color: var(--decoration-color);
  position: absolute;
  line-height: 25px;
  inset: 10px 0 auto auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.recording-effect::after {
  content: '';
  display: inline-block;
  inline-size: 0.5625rem;
  block-size: 0.5625rem;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decoration-color);
  background-color: var(--decoration-color);
  margin-inline-end: 0.5625rem;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 75px 0;
}

/* НАДО БУДЕТ ПРОСТО ПОМНИТЬ ПРО ОТСТУПЫ, ВОЗМОЖНО, ПРИДЕТСЯ ЗАПАРИТЬСЯ С ИХ GOMU GOMU СВОЙСТВАМИ */

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  color: var(--button-color);
  border: none;
  padding-inline: 13px;
  padding-block: 1.5px;
  position: relative;
}

.header__theme-menu-button_active {
  outline: solid 1px var(--button-color);
}

/* ДАЛЕЕ РЕШЕНИЕ ДЛЯ HOVER, КОТОРОЕ РАБОТАЕТ В КОНТЕКСТЕ МЕНЮ С ЧЕТЫРЬМЯ БУКАВАМИ
   СДЕЛАЛ ИМЕННО ТАК, ТАК КАК ПОДУМАЛ, ЧТО НУЖНО ИЗБЕЖАТЬ ИСАОЛЬЗОВАНИЯ АЛЬФАКАНАЛА */

.header__theme-menu-button:not(:disabled):hover::after {
  content: 'дддд';
  cursor: pointer;
  position: absolute;
  inset: 0 auto auto 0;
  color: transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
  outline: solid 1px var(--button-color);
  opacity: 0.4;
}

.header__title {
  margin-block: 65px 0;
  font-size: var(--h1-size);
  font-weight: bold;
  line-height: var(--h1-line-height);
  color: var(--h1-color);
  text-shadow: 4px 4px var(--h1-accent-color);
}

.header__text {
  background-color: var(--h3-bg-color);
  color: var(--h3-text-color);
  font-weight: bold;
  margin-block: 55px;
}

.break::after {
  content: '\A';
  white-space: pre;
}

/* СОМНИТЕЛЬНОЕ РЕШЕНИЕ, КОТОРОЕ, СКОРЕЕ ВСЕГО, ПРИДЕТСЯ ПОТОМ ПЕРЕСМОТРЕТЬ */

/*  */

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
}

.title-decor {
  font-size: inherit;
  line-height: inherit;
}

.title-decor--regular {
  font-weight: normal;
}

.section__title {
  color: var(--h2-text-color);
}

.section__text-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 10px;
}

.section__card__title {
  color: var(--h3-text-color);
  background-color: var(--h3-bg-color);
}

.section__card__text {
  color: var(--main-text-color);
}

.text-link {
  text-shadow: 2px 2px var(--h1-accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.in-images {
  gap: 10px;
}

.in-images__image {
  object-fit: contain;
  max-block-size: 100%;
  max-inline-size: 100%;
}

.footer {
  position: relative;
  block-size: 100vb;
  min-block-size: 667px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: var(--h1-size);
  font-weight: bold;
  line-height: var(--h1-line-height);
  color: var(--h1-color);
  text-shadow: 2px 2px var(--h1-accent-color);
}