/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-bg-color: #000028;
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-text-font: IBM Plex mono;
  --base-font-size: 16px;
  --main-text-color: #F1B2CE;
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-color: #DB00FF;
  --main-title-accent-color: #FF0070;
  --main-title-line-height: 83%;
  --section-title-color: #FF0070;
  --cards-title-bg-color: #FF0070;
  --cards-text-color: #000028;
  --decoration-color: #FF0070;
  --button-color: #FF0070;
  --section-gap: 50px;
  --section-gap-decreased: 40px;
}

@media (width >= 768px) {

  :root {
    --section-gap: 80px;
    --section-gap-decreased: 60px;
    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  /* ЗДЕСЬ ОПИСАНЫ ПРОМЕЖУТКИ МЕЖДУ
     СЕКЦИЯМИ, КОТОРЫЕ УСТАНАВЛИВАЮТСЯ
     ПОСЛЕ HEADER И ПЕРЕД FOOTER */

}