/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-bg-color: #000028;
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-text-font: IBM Plex mono;
  --base-font-size: 16px;
  --main-text-color: #F1B2CE;
  --h1-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --h1-color: #DB00FF;
  --h1-accent-color: #FF0070;
  --h1-line-height: 83%;
  --h3-bg-color: #FF0070;
  --h3-text-color: #000028;
  --h2-text-color: #FF0070;
  --decoration-color: #FF0070;
  --button-color: #FF0070;
  --gap: 50px;
  --gap-first-last: 40px;
}


/* Не забыыть пофиксить условие > */
@media (width >= 768px) {

  :root {
    --gap: 80px;
    --gap-first-last: 60px;
    --h1-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media (width > 1024px) {
  
}